spring:
  application:
    name: webflux-dialogue
  data:
    mongodb:
      uri: mongodb://localhost:27017/ragdb
    redis:
      host: localhost
      port: 6379

server:
  port: 8081

rag:
  dialogue:
    openai:
      api-key: ${OPENAI_API_KEY:}
      base-url: https://api.openai.com/v1
      model: gpt-3.5-turbo
    supertone:
      endpoints:
        - id: endpoint-1
          api-key: ${SUPERTONE_API_KEY_1:}
          base-url: https://supertoneapi.com
        - id: endpoint-2
          api-key: ${SUPERTONE_API_KEY_2:}
          base-url: https://supertoneapi.com
        - id: endpoint-3
          api-key: ${SUPERTONE_API_KEY_3:}
          base-url: https://supertoneapi.com
      voice-id: 2c5f135cb33f49a2c8882d
      language: ko
      style: neutral
      output-format: ${SUPERTONE_OUTPUT_FORMAT:mp3}
      voice-settings:
        pitch-shift: 0
        pitch-variance: 1.0
        speed: 1.1
